/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
  color: #222;
  font-family: 'Nunito', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --accent-color: #516b85;
  --dark-color: #c4d0e2ff;
  --light-color: #e8ecf3ff;
  --main-border-radius: 1.5em;
}

body {
  align-items: center;
  background-image: url('../img/sky.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 97dvh;
}

main {
  aspect-ratio: 2/1;
  background-color: white;
  border-radius: var(--main-border-radius);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  transition: ease all .5s;
}

main > * {
  align-self: stretch;
}

#preview3d {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#canvasContainer {
  border-radius: var(--main-border-radius) 0 0 0;
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
  /* Thanks to: https://stackoverflow.com/questions/15007903/html5-canvas-with-rounded-corner */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

#myCanvas {
  aspect-ratio: 1;
  height: 100%!important;
  width: 100%!important;
}

#rotationToggle {
  background-color: transparent;
  border: 0;
  border-radius: var(--main-border-radius);
  color: var(--accent-color);
  cursor: pointer;
  margin: 0.5em;
  padding: 0.2em;
  transition: background 400ms;
}

#controls {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr 7fr 1.5fr;
  row-gap: .5em;
  overflow-x: auto;
}

#formulaInputForm {
  align-items: baseline;
  display: flex;
  margin: 0 1em 0 1.5em;
}

#formulaInputForm, #consensusTableContainer {
  align-self: center;
  justify-self: center;
}

#formulaInput, #formulaSubmitButton {
  font-family: inherit;
  font-size: inherit;
  margin: .5em;
  padding: .5em;
}

#formulaInput {
  border: 0;
  width: 100%;
}

#formulaSubmitButton {
  background-color: white;
  border: 0;
  color: var(--accent-color);
}

#formulaSubmitButton:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: .13em;
}

#formulaSubmitButton:active {
  background-color: var(--dark-color);
}

#formula, #formulaDNF {
  align-self: center;
  margin: auto;
  width: 80%;
}

#consensusTableContainer {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#consensusTable {
  border-collapse: collapse;
  margin: auto;
}
#consensusTable thead {
  background-color: var(--dark-color);
}
#consensusTable tbody {
  background-color: var(--light-color);
}
#consensusTable td, #consensusTable th {
  padding: .1em .5em .1em .5em;
  text-align: center;
}

#consensusTable td:last-child {
  text-align: left;
}
#consensusTable tbody tr:hover {
  background-color: rgb(225, 227, 239);
}

#formulaDNF {
  overflow-x: auto;
}

#formulaMinimal {
  color: var(--accent-color);
  font-size: 1.2em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 1200px) {
  main { width: 60%; }
}

@media only screen and (max-width: 720px) {
  /* Style adjustments for viewports that meet the condition */
  body {
    align-items: flex-start;
    height: 100%;
  }

  main {
    aspect-ratio: unset;
    margin: 3em 0 3em 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #canvasContainer {
    border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

